body {
    background: antiquewhite;
}

p {
    font-family: verdana;
    text-align: center;
}

h1 {
    font-family: arial;
}

h2 {
    font-family: arial;
    text-align: center;
}

a {
    text-align: center;
    display: inline-block;
}

ol, ul {
    text-align: center;   
    margin-left: auto;
    margin-right: auto;
}

.tablecenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin: 0 auto;
}