body {
    background: antiquewhite;
}

p {
    font-family: verdana;
    text-align: center;
    word-wrap: normal;
    width: 650px;
    margin: auto;
}

h1 {
    font-family: arial;
}

h2 {
    font-family: arial;
    text-align: center;
}

a {
    display: block;
    margin: 0 auto;
    text-align: center;
}

ol {
    display: table;
    margin: 0 auto;
}

.parent ul{
    display:inline
}

ul {
    font-weight: bold;
}

.tablecenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    font-family: verdana;
}

th, td {
    border: 1px solid black;
}

.center {
    display: block;
    margin: 0 auto;
}

hr {
    border: 1px solid #eb5454;
}