body {
    background-image: linear-gradient(45deg, #d6d2d2 25%, #e0e0e0 25%, #e0e0e0 50%, #d6d2d2 50%, #d6d2d2 75%, #e0e0e0 75%, #e0e0e0 100%);
    background-size: 56.57px 56.57px;
}

p {
    font-family: verdana;
    text-align: center;
    word-wrap: normal;
    width: 700px;
    margin: auto;
}

h1 {
    font-family: arial;
}

h2 {
    font-family: arial;
    text-align: center;
}

a {
    font-family: verdana;
    display: block;
    margin: 0 auto;
    text-align: center;
}

ol {
    font-family: arial;
    display: table;
    margin: 0 auto;
}

.parent ul{
    display:inline
}

ul {
    font-weight: bold;
    font-family: verdana;
}

.tablecenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    font-family: verdana;
    background: #fffcf5;
    height: 8%
}

th, td {
    border: 1px solid black;
}

.center {
    display: block;
    margin: 0 auto;
}

hr {
    border: 2px solid #eb5454;
    width: 850px;
}